{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
  },
  "extends": "airbnb",
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "describe": 1,
    "it": 1,
    "expect": 1,
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true,
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "react-hooks",
    "simple-import-sort",
  ],
  "rules": {
    // Remove no-console rule in production! 
    "no-console": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-indent": ["error", 2, {checkAttributes: true}],
    "no-underscore-dangle": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "max-len": ["warn", {
      "ignoreComments": true,
      "ignoreTrailingComments": true,
      "ignoreUrls": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true,
      "ignoreRegExpLiterals": true,
      "code": 100
    }],
    "no-multiple-empty-lines": [2, {"max": 1}],
    "react/jsx-props-no-spreading": ["warn", {
      "custom": "ignore",
    }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "sort-imports": "off",
    "import/order": "off",
    "simple-import-sort/sort": "error",
  },
}
