$font-size: 30px;
$color: #fd3a94;

.xt {
  font-size: $font-size;
  color: $color;
  font-weight: 400;
}

$bg: #fcf;

.test {
  background-color: $bg;
  user-select: none;
  font-style: italic;
}


/* Animations */

.hidden {
  opacity: 0;
}
@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}
.fade-in {
  animation: fade-in 1.4s;
}
