/node_modules
/.DS_Store
/.ftpconfig
/npm-debug.log
/yarn.lock
/.env
/.next
/.build


/default/node_modules
/default/.DS_Store
/default/.ftpconfig
/default/npm-debug.log
/default/yarn.lock
/default/.env
/default/.next
/default/.build


/graph/node_modules
/graph/.DS_Store
/graph/.ftpconfig
/graph/npm-debug.log
/graph/yarn.lock
/graph/.env
/graph/.next
/graph/.build
