{
    "extends": "stylelint-config-standard",
    "rules": {
        "string-quotes": "double",
        "no-duplicate-selectors": true,
        "color-hex-case": "lower",
        "selector-combinator-space-after": "always",
        "selector-attribute-quotes": "always",
        "property-no-vendor-prefix": true,
        "value-no-vendor-prefix": true,
        "function-url-quotes": "never",
        "at-rule-no-vendor-prefix": true,
        "selector-no-vendor-prefix": true,
        "media-feature-name-no-vendor-prefix": true
    }
}
